.wrapper {
  @extend %fullscreen;
  display: grid;
  align-items: center;
  padding: 20px;
  background-color: $color-purple-heart;

  @include media('>=tablet') {
    justify-content: center;
    padding: 0;
  }

  .logo {
    width: 52px;
    display: block;
    margin: 0 auto;
    margin-bottom: 79px;
  }

  .card {
    border-radius: 40px;

    @include media('>=tablet') {
      @include drop-shadow;
      background: $color-electric-violet;
      padding: 70px 40px 60px 40px;
      width: 480px;
    }
  }

  .actions {
    display: grid;
    row-gap: 30px;
  }
}
